<!DOCTYPE html>
<html>
<head>
  <title>Metrics</title>
</head>
<body>
  <h1>Metrics Dashboard</h1>
  <ul>
    <li>Jobs Processed: {{ success }}</li>
    <li>Failed Jobs: {{ failed }}</li>
  </ul>
</body>
</html>